<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid2">
        <div class="gridl1">
            <div>
                <img src="../static/imgs/timeb.svg" alt="" style="width:100%">
                <p style="font-size:30px;">10:27:51</p>
            </div>
            <div>
                <p style="width:100%;color:#A0A0A0;line-height:150%;">
                    USER 342 js launched 2 ability <br>
                    USER 6767 desynthesized <br>
                    USER #12 bought a trait <br>
                    USER 69 failed to merge <br>
                    <span style="color:#fff;">YOUR MERGE COUNT CRR: <span style="color:#f00;">0</span> </span>
                </p>
            </div>
            <div>
                <img src="../static/imgs/xiomanyx.svg" alt="" style="height: 95%;margin-top:2.5%;">
            </div>
        </div>
        <div></div>
        <div class="gridl2">
            <div>
                <img src="../static/imgs/xploit.png" alt="" style="height: 100%;">
            </div>
            <div>
                <p style="width: 100%;line-height: 150%;">
                    <span style="color:#f00;">INSTRUCTIONS:</span> <br>
                    you can only add 2 traits at
                    a time and use them wisely
                    click the plus icon after 
                    selecting your desired trait
                </p>
            </div>
            <div>
                <img src="../static/imgs/buxa.svg" alt="" style="width: 100%;transform:translate(-50%, 0);top:unset;bottom:0;">
            </div>
        </div>
    </div>
</body>
</html>