<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

</head>
<body>
     <div class="menu">
        <div><a href = "index">home</a></div>
        <div><a href = "lab">lab</a></div>
        <div><a href = "surveillance">surveillance</a></div>
        <div><a href = "">4</a></div>
    </div>
    <div class="grid" style="grid-template-columns:25% 25% auto">
        <div class="grids1">
            <div>
                <img src="../static/imgs/timeb.svg" alt="" style="height:80%;width: 100%;top:0;transform:translate(-50%, 0)">
                <p style="font-size:40px;margin-top:-7.5px;">10:27:51</p>
            </div>
            <div>
                <div class = "portgrid">
                    <div class="portrow" style="position: static;transform: none;border-bottom:none">
                        <p style="position: static;transform: none;color:#A0A0A0;">PORT</p>
                        <p style="position: static;transform: none;">1512</p>
                        <p style="position: static;transform: none;color:#747474;">3569</p>
                    </div>
                    <div class="portrow" style="position: static;transform: none;border-bottom:none">
                        <p style="position: static;transform: none;color:#A0A0A0;">UPTIME</p>
                        <p style="position: static;transform: none;">10:08:31</p>
                        <p style="position: static;transform: none;color:#747474;">120:1:12</p>
                    </div>
                    <div class="portrow" style="position: static;transform: none;border-bottom:none">
                        <p style="position: static;transform: none;color:#A0A0A0;">POWER</p>
                        <p style="position: static;transform: none;">ON-39%</p>
                        <p style="position: static;transform: none;color:#747474;">OFF-4%</p>
                    </div>
                </div>
            </div>
            <div>
                <p id = "p" style="width:100%;height:100%;line-height:120%;margin-top:5%;color:#757575;text-align:center;"> 
                    #c<span>o</span>de xiomanyc <span>breached</span> opp <br>
                    #nova hyper’ed failed 67%-1 <br>
                    d3v51ans.<span>exe</span> 5.3% upload.tk <br>
                    aD#ro1que.rar extracted <br>
                    <span>official</span> cosmicc.pcap done
                </p>
            </div>
            <div>
                <img src="../static/imgs/surv1.svg" alt="" style="height:100%;margin-top:10px;">
            </div>
        </div>
        <div>
            <img src="../static/imgs/surv.svg" alt="" style="height:100%;position:relative;left:50%;transform:translate(-50%);">
        </div>
        <div class="surv" style="position:relative;left:50%;transform:translate(-50%, -50%);top:50%">
            <div>
                <img src="../static/imgs/playback.svg" alt="">
            </div>
            <div>
                <img src="../static/imgs/playcharts.svg" alt="">
            </div>
        </div>
    </div>
</body>
</html>